body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

/** Site header */
.site-header {
    border-top: none;
}

.page-content {
    overflow: hidden; // added to enable extended-content-container
}

.page-heading {
    font-size: 42pt;
}
h1 {
    font-size: 38pt;
}
h2 {
    font-size: 28pt;
}
h3 {
    font-size: 22pt;
}

p{
    margin: 50px 20px 50px 20px;
}