@import "../theme-overrides.scss";
@import "../hero.scss";

.footer-nav {
    display: flex;
    flex-flow: column;

    a {
        margin: 0.25em;
        color: rgb(43, 43, 43);
    }
}

.download-btn {
    cursor: pointer;
    background-color: $arty-primary-color;

    width: 95%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    border: 1px solid $arty-dark-color;
    border-radius: 100px;

    font-size: 3em;
    color: white;
    font-weight: 500;
    letter-spacing: -1pt;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-col {
    padding: 2em;
}

/** Responsive columns **/
/* For mobile phones: */
.container {
    width: 100%;
}

.row {
    display: flex;
}

[class*="col-"] {
    flex: 100%;
}

@media only screen and (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    /* For desktop: */
    .col-2 {
        flex: 50%;
    }
    .col-3 {
        flex: 33.33%;
    }
}

.extended-content-container {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.extended-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .extended-content {
        display: block;
    }
}

div.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

div.card-text-container {
    text-decoration: none;
    text-align: center;
    padding: 1em;
}

.card-text-container > p {
    margin: 0;
}

.helper {
    color: grey;
    font-size: 10pt;
}


.align-box {
    display: flex;
    align-items: baseline;
    justify-content: center;
}


.spacer {
    margin-bottom: 100px;
}

// TO TOP BUTTON
#back-to-top-btn {
    display: inline-block;
    background-color: $arty-primary-color;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top-btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#back-to-top-btn:hover {
    cursor: pointer;
    background-color: #333;
}
#back-to-top-btn:active {
    background-color: #555;
}
#back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
}
// END BACK TO TOP BUTTON
