@import "../theme-overrides.scss";

.footer-nav {
    display: flex;
    flex-flow: column;

    a {
        margin: 0.25em;
        color: rgb(43, 43, 43);
    }
}

.download-btn {
    cursor: pointer;
    background-color: $arty-primary-color;

    width: 95%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    border: 1px solid $arty-dark-color;
    border-radius: 100px;

    font-size: 3em;
    color: white;
    font-weight: 500;
    letter-spacing: -1pt;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-col {
    padding: 2em;
}


/** Responsive columns **/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.container{
    width: 100%
}

@media only screen and (min-width: 900px) {
    .container{
        display: flex;
        flex-direction: row;
    }
    /* For desktop: */
    .col-2{
        width: 50%;
        max-width: 50%;
    }
    .col-3{
        width: 33.33%;
        max-width: 33.33%;
    }
}

.extended-content-container {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.extended-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .extended-content {
        display: block;
    }
}

div.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

div.card-text-container {
    text-decoration: none;
    text-align: center;
    padding: 1em;
}

.helper {
    color: grey;
    font-size: 10pt;
}


// HERO
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/arty-app/assets/images/perspective_1024.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 100px;
}
